body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #18191a;
  color: #e4e6ea;
}

.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.error {
  display: none;
}

.countries {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  overflow-y: auto;
}

.countries button {
  display: block;
  outline: none;
  background: transparent;
  color: inherit;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}
