body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #18191a;
  color: #e4e6ea;
}

.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.error {
  display: none;
}
